.form-order{
    display: flex;
    flex-direction: column;
    border: 5px groove #e7d542;
    padding: 10px;
}
.form-label{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
}
.form-cb-label{
    text-align: left;
}
.form-cb{
    text-align: right;
}
/*input {*/
/*    margin-left:20px;*/
/*}*/
.form-submit {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}